@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins","sans-serif";
}
html{
    scroll-behavior:smooth;
}
body{
    min-height:1000px;
    background:#000;
}
header .navbar .logo{
    color:#fff;
    font-size:30px;
    padding:5px 10px;
    margin:0 10px;

}
#header .sticky{
    padding:5px 100px;
    background:#fff;
    border-bottom:1px solid rgba(0,0,0,.1);

}
header .navbar ul li a{
    font-size:15px;
    margin:0 10px;
    color:#fff;
    text-transform:uppercase; 
}
header .navbar ul li a:hover{
    font-size:16px;
    margin:0 10px;
    color:#fff;
    text-transform:uppercase; 
}
header .navbar .toggle{
    color:white;
    font-size:30px;
    font-weight:30px;
    border:none;
    outline:none;
    
}
.banner{
    position:relative;
    width:100%;
    min-height:100vh;
    justify-content:center;
    align-items:center;
}
.fitbag{
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
    opacity:1;
    
}
.banner:before{
    content:"";
    top:0;
    height:400px;
    z-index:1;
    bottom:0;
    position:absolute;
    background:linear-gradient(to top,#111,transparent);
}

.banner .content{
    padding:10rem;
    color:white;
    position:absolute;
    margin:5rem 10rem;
    
}
.banner .content h2{
    font-size:85px;
    padding:0 9rem;
    line-height:1em;
}
.banner h2 span{
    color:#4978ff;
}
.sec{
    background:#fff;
    padding:100px;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sec .content{
    position:relative;
    text-align:center;
    width:100%;
}
.mxw800p{
    max-width:800px;
    margin:0 auto;
}
h3{
    font-size:40px;
    font-weight:200;
    margin-bottom:10px;
}
p{
    position:relative;
    font-size:18px;
    font-weight:300;
    margin-bottom:20px;
    letter-spacing:1px;
}
.btn{
    position:relative;
    display:inline-block;
    padding:10px 30px;
    background:#000;
    color:#fff;
}
.services{
    position:relative;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap:30px;
    max-width:100%;
    margin-top:40px;
}
.services .box{
    width:300px;
    margin:0 auto;
    background:#fff;
    padding:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.05);
}
.services .box .iconBx{
    margin-top:25px;
}
.services .box .iconBx img{
    max-width:90px;
    margin-bottom:15px;
}
.services .box h2{
    font-size:18px;
    margin-bottom:10px;
    text-transform:uppercase;
    font-weight:700;
}
.stats{
    background:#000;
    padding-top:250px;
    margin-top:-250px;
}
.stats h3,
.stats p{
    color:#fff;
}
.statsBox{
    position:relative;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:20px;
    max-width:100%;
    margin-top:40px;
}
.statsBox h2{
    color:#fff;
    font-size:36px;
}
.statsBox h4{
    color:#fff;
    font-size:16px;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing:2px;
}
.workBx{
     position:relative;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
    max-width:100%;
    margin-top:40px;
}
.workBx .brand{
    position:relative;
    background:#4978ff;
    min-height:300px;
    width:250px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.workBx .brand:hover{
    background:#000;
}
.workBx .brand a{
    text-decoration:none;
    color:rgba(225,255,255,0.4);
    text-transform:uppercase;
    font-size:14px;
    letter-spacing:1px;
}
.workBx .brand:hover a{
    color:rgba(225,255,255,1);
}
.teamBx{
     position:relative;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
    max-width:100%;
    margin-top:40px;
}
.teamBx .member{
    position:relative;
    background:#000;
    min-height:300px;
    width:250px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.teamBx .member .imgBx{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.teamBx .member .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.teamBx .member .details{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#000;
    transition:0.2s;
    opacity:0;
}
.teamBx .member:hover .details{
    opacity:1;
}
.teamBx .member .details h2{
    color:#fff;
    text-transform:uppercase;
    font-size:20px;
    letter-spacing:1px;
}
.teamBx .member .details h2 span{
    display:block;
}
.contact{
    background:#000;
}
.contact h3,
.contact p{
    color:#fff;
}
.contactForm{
    position:relative;
    max-width:800px;
    margin:0 auto;
    display:flex;
}
.contactForm form{
    width:100%;
}
.contactForm .row100{
    display:flex;
    width:100%;
}
.contactForm .row100 .inputBx50{
    width:50%;
    margin:0 20px;
}
.contactForm .row100 .inputBx100{
    width:100%;
    margin:0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea{
    position:relative;
    border:none;
    border-bottom:1px solid #fff;
    color:#fff;
    background:transparent;
    width:100%;
    padding:10px 0;
    outline:none;
    font-size:18px;
    font-weight:300;
    margin:20px 0;
    resize:none;
}
.contactForm .row100 textarea{
    height:100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
    color:rgba(255,255,255,0.5);
}
.contactForm .row100 input[type="submit"]{
    background:#fff;
    color:#000;
    max-width:100px;
    text-transform:uppercase;
    letter-spacing:2px;
    cursor:pointer;
    font-weight:500;
}
.sci{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:50px 0;
}
.sci ul{
    display:flex;
}
.sci ul li{
    list-style-type:none;
}
.sci ul li a{
    text-decoration:none;
    display:inline-block;
    margin:0 30px;
}
.sci ul li a img{
    filter:invert(1);
    max-width:30px;
}
.sci ul li a:hover img{
    opacity:0.5;
}
.copyright{
    color:#fff;
}
@media (min-width:400px){
    .banner .content{
        margin-right:50px;
    }
}
@media (max-width:992px){
    .banner{
    background-position:center;
    
}
.banner img{
    width:100%;
    position:absolute;
}
.banner .content h2{
    padding-left:40px;
    font-size:60px;
    position:absolute;
    right:0;
}
.sec{
    padding:100px 50px 50px 50px;
}
.services .box{
    width:100%;
}
.stats{
    padding-top:250px;
}
.row100{
    flex-direction:column;
}
.contactForm .row100 .inputBx50,
.contactForm .row100.inputBx100{
    width:100%;
    margin:0;
}
.sci{
    margin:20px;
}
.sci ul li a img{
    font-size:24px;
}
h3{
    font-size:36px;
}
}

    
